atomicwrites==1.3.0
attrs==19.2.0
bottle==0.12.18
Cerberus==1.3.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
contextlib2==0.5.5
cycler==0.10.0
idna==2.8
importlib-metadata==0.23
kiwisolver==1.1.0
MarkupSafe==1.1.1
marshmallow==3.5.0
matplotlib==3.1.1
more-itertools==7.2.0
mplcursors==0.3
numpy==1.17.2
packaging==19.2
platformio==4.2.1
pluggy==0.13.0
py==1.8.0
pyelftools==0.26
pyparsing==2.4.2
pyserial==3.4
pytest==5.2.0
python-dateutil==2.8.0
requests==2.22.0
schema==0.7.1
semantic-version==2.8.4
six==1.12.0
tabulate==0.8.6
tinydb==3.15.1
urllib3==1.25.7
wcwidth==0.1.7
yagmail==0.11.224
zipp==0.6.0
