###############################################  Thread Config File  ###############################################
#                                                                                                                  #
####################################################################################################################
# Thread Name        Registry Name                        Thread Working Area Size    Priority      Loop Rate (ms) #
####################################################################################################################
master               master                               2048                        1             100
safe_hold_timer      master.safe_hold_timer               2048                        1             100
adcs                 adcs                                 2048                        1             100
update_adcs_hat      adcs.update_hat                      2048                        1             100
gomspace             gomspace                             2048                        1             1000                
piksi                piksi                                2048                        1             100
gnc                  gnc                                  2048                        1             60000
system_output        system_output                        2048                        1             100
propulsion           propulsion                           2048                        1             500
quake                quake                                2048                        1             500
debug                debug                                2048                        1             5000
startup              startup                              2048                        1             -
deployment_timer     startup.deployment_timer             2048                        1             -
orbit_propagator     gnc.orbit_propagator                 1024                        1             100
power_cycle_adcs     gomspace.power_cycle.adcs            1024                        1             -
power_cycle_sph      gomspace.power_cycle.spike_and_hold  1024                        1             -
power_cycle_piksi    gomspace.power_cycle.piksi           1024                        1             -
power_cycle_quake    gomspace.power_cycle.quake           1024                        1             -
prop_firing          propulsion.firing                    1024                        1             -
prop_pressurizing    propulsion.pressurizing              1024                        1             -
prop_venting         propulsion.venting                   1024                        1             -
quake_transceiving   quake.transceiving                   1024                        1             -