name: Flight Software HOOTL Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'tlm/**'
      - 'tools/**'
      - 'cmdclient/**'
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - 'ptest/README.md'

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6'
        architecture: 'x64'
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.13.1'
    - uses: bazelbuild/setup-bazelisk@v1
    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "~/.cache/bazel"
        key: bazel

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        platformio update

    - name: Install Psim
      run: |
        pip install -e lib/common/psim

    - name: CI Checkout Case and Empty case
      run: |
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t CICase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t EmptyCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t EmptySimCase -ni
        !(python -m ptest runsim -c ptest/configs/hootl_speedup.json -t FailingEmptyCase -ni)
        !(python -m ptest runsim -c ptest/configs/hootl_speedup.json -t FailingEmptySimCase -ni)
        python -m ptest runsim -c ptest/configs/hootl.json -t AttitudeNoSunVectorsInitializationCase -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t AttitudePersistanceExceededCase - ni

    - name: Mission Rehearsal Cases
      run: |
        python -m ptest runsim -c ptest/configs/hootl_hootl.json -t DualSatDetumbleCase -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl.json -t DualSatFarFieldCase -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl.json -t DualSatNearFieldCase -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl.json -t DualSatStandbyCase -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl.json -t DualSatStartupCase -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t SingleSatDetumbleCase -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t SingleSatStandbyCase -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t SingleSatStartupCase -ni

    - name: Hardware Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t DCDCCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t GomspaceCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t SpinMotorsCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t ADCSCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t PiksiCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t PropStateMachineCase -ni

    - name: Fault Handling Cases
      run: |
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t ADCSWheelFaultHandler -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t AttitudeFaultHandlerCase -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t LowBattFaultHandler -ni
        python -m ptest runsim -c ptest/configs/hootl.json -t PropFaultHandler -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t QuakePowerCycling -ni
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t PiksiFaultHandler -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl_speedup.json -t PiksiFaultNearField -ni
        python -m ptest runsim -c ptest/configs/hootl_hootl_speedup.json -t PiksiFaultNearField2 -ni

    # Add quake and piksi fault handler to the above once completed.
    - name: Mission Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/hootl_speedup.json -t DeploymentToInitHold -ni
