name: Flight Software HOOTL Tests

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'tlm/**'
      - 'tools/**'
      - 'cmdclient/**'
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - 'ptest/README.md'

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6'
        architecture: 'x64'
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.13.1'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        platformio update

    - name: Install Bazel
      run: |
        sudo apt install curl gnupg
        curl -fsSL https://bazel.build/bazel-release.pub.gpg | gpg --dearmor > bazel.gpg
        sudo mv bazel.gpg /etc/apt/trusted.gpg.d/
        echo "deb [arch=amd64] https://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
        sudo apt install bazel

    - name: Install Psim
      run: |
        pip install -e lib/common/psim

    - name: CI Checkout Case and Empty case
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t CICase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t EmptyCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t EmptySimCase -ni
        !(python -m ptest runsim -c ptest/configs/ci.json -t FailingEmptyCase -ni)
        !(python -m ptest runsim -c ptest/configs/ci.json -t FailingEmptySimCase -ni)

    - name: Hardware Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t DCDCCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci_realtime.json -t GomspaceCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t SpinMotorsCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t ADCSCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t PiksiCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t PropStateMachineCase -ni

    - name: Fault Handling Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t ADCSWheelFaultHandler -ni
        python -m ptest runsim -c ptest/configs/ci.json -t LowBattFaultHandler -ni
        python -m ptest runsim -c ptest/configs/ci.json -t PropFaultHandler -ni
        python -m ptest runsim -c ptest/configs/ci.json -t QuakePowerCycling -ni

    # Add quake and piksi fault handler to the above once completed.

    - name: Mission Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t DeploymentToInitHold -ni
        python -m ptest runsim -c ptest/configs/ci.json -t DeploymentToStandby -ni
