name: Flight Software HOOTL Tests

on:
  pull_request:
    branches: [ master ]

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6'
        architecture: 'x64'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        platformio update
        pio run -e fsw_native_leader

    - name: CI Checkout Case and Empty case
      run: |
        pio run -e gsw_uplink_producer_console
        python -m ptest runsim -c ptest/configs/ci.json -t CICase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t EmptyCase -ni

    - name: Hardware Checkout Cases
      run: |
        pio run -e gsw_uplink_producer_console
        python -m ptest runsim -c ptest/configs/ci.json -t DCDCCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t GomspaceCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t SpinMotorsCase -ni
