name: Flight Software HOOTL Tests

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'tlm/**'
      - 'tools/**'
      - 'MCT/**'
      - 'cmdclient/**'
      - 'docs/**'

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6'
        architecture: 'x64'
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.13.1'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        platformio update
        pio run -e fsw_native_leader

    - name: CI Checkout Case and Empty case
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t CICase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t EmptyCase -ni

    - name: Hardware Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t DCDCCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t GomspaceCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t SpinMotorsCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t ADCSCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t PiksiCheckoutCase -ni
        python -m ptest runsim -c ptest/configs/ci.json -t PropStateMachineCase -ni

    - name: Fault Handling Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t ADCSWheelFaultHandler -ni
        python -m ptest runsim -c ptest/configs/ci.json -t LowBattFaultHandler -ni
        python -m ptest runsim -c ptest/configs/ci.json -t QuakeFaultHandler_Fast -ni

    - name: Mission Checkout Cases
      run: |
        python -m ptest runsim -c ptest/configs/ci.json -t DeploymentToInitHoldCheckoutCase -ni
